$tooltip-color: rgba(0,0,0,.7);
$tooltip-text-color: #fff;

.tooltip-bubble {
  min-width: 90px;
  max-width: 150px;
  position: absolute;
  z-index: 10;
  &::after {
    content: '';
    position: absolute;
  }
}

.tooltip-message {
    background: $tooltip-color;
    border-radius: 5px;
    color: $tooltip-text-color;
    font-size: .75rem;
    line-height: 1.4;
    padding: 8px 16px;
    text-align: center;
    left: -50%;
    position: relative;
  }
  
  .tooltip-top-arrow {
    position: absolute;
    bottom: -9px;
    left: calc(50% - 5px);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid $tooltip-color;
}